

header{
    background: linear-gradient(to bottom right, red, blue);
}


.h-links{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
    
}
.h-links li{
    list-style: none;
    border-radius: 14px;

}

.h-links li a {
    color: white;
    text-decoration: none;
}


.primary-btn {
    padding: 10px 20px;
    background: transparent;
    border: 1px solid gray;
    transition: .3s ease-in-out;
}

.primary-btn:hover {
    background-color: lightgreen;
}

